html {
    background-image: url('jpt.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    min-height: 100%;
    min-width: 100%;
}


body {
    margin: 0;
    padding: 0;
}

.container{
    padding: 0 16px;
}


h1 {
    font-size: 48px;
    color: rgba(255,233,155,1);
    margin-top: 7px;
    margin-bottom: 0;
    line-height: 1;
}

.second-top-bar {
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    min-height: 95px;
}

.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0 16px;
}

.t .about {
    text-decoration: none;
    color: rgba(45,45,255,1);
    font-family: monospace;
}

.t .about:hover {
    text-decoration: underline;
    color: rgba(255,45,45,1);
    font-family: monospace;
}

.mem {
    text-decoration: none;
}

.dropdown {            /*mul*/
    margin: 0;
    padding: 0;
    margin-left: 30px;
}

.dropdown .d {              /*mul and mli*/
    display: inline-block;
    position: relative;
}

.dropdown .d .dropdown_content {  /*mul and mli and ul*/
    position: absolute;
    z-index: 100;
    display: none;
    margin: 0;
    min-width: 100px;
    max-width: 150px;
    overflow-wrap: break-word;
    white-space: normal;
}

.dropdown .d:hover .dropdown_content {       /*mul and mli:hover and ul*/
    display: block;
    background-color: white;
    border: 4px solid black;
}

.dropdown .d .dropdown_content .c { /*mul and mli and ul and li*/
    display: block;
}

.dropdown_content {
    margin: 0;
    padding: 0;
    list-type: none;
}

.dropdown_content .g {
    display: inline-block;
    position: relative;
}

.dropdown_content .g .h {
    width: 100%;
    position: absolute;
    z-index: 100;
    display: none;
    margin: 0;
}

.dropdown_content .g:hover .h {
    display: block;
    background-color: white;
    border: 5px solid black;
}

.dropdown_content .g:hover .e {
    display: block;
}

.dropdown .gg {   /*mul and a*/
    display: block;
    padding: 20px 25px;
    text-decoration: none;
    color: rgba(45,45,255,1);
    font-family: monospace;
    text-align: center;
}

.gg:hover {
    text-decoration: underline;
    color: rgba(255,45,45,1);
    font-family: monospace;
}
    
#b1 {
    font-size: 25px;
    color: white;
    border: 2px solid white;
    background-color: rgba(189,26,26,1);
    cursor: pointer;
    position: absolute;
    bottom: 20px;
}


#logo {
    display: block;
    width: 130px;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
}

#b1:hover {
    background-color: rgba(255,0,0,0.4);
    color: blue;
    border: none;
}

.I_topbar {
    background-color: black;
    width: 100%;
    min-height: 60px;
}

.contactpage {
    display: flex;
    flex-direction: row;
    align-items: center;        
    justify-content: flex-start;
    margin-left: 40px;
}

.contact_dropdown {
    margin-top: 30px;
    padding: 0;
}

.contact_dropdown .contact {
    display: inline-block;
    position: relative;
}

.contact_dropdown .contact .contactdata {
    display: none;
    position: absolute;
    min-width: 250px;
    max-width: 300px;
    z-index: 100;
    overflow-wrap: break-word;
}
    
.contact_dropdown .contact:hover .contactdata {
    display: block;
    background-color: black;
    border: 4px solid blue;
    color: white;
}

.contact_dropdown .contact .contactdata .emailcontact{
    display: block;
}

.contactoption {
    text-decoration: none;
    color: white;
}

.dropdown_content .e .meminfo {
    text-decoration: none;
    color: black;
    padding: 6px 10px;
    text-indent: -5px
}

.dropdown_content .e .meminfo:hover {
    text-decoration: underline;
    color: blue;
    padding: 6px 10px;
}






    
    

















































    
