body {
    background-image: url('jpt.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: Arial, sans-serif;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.container{
    max-width: 1000px;
    padding: 0 16px;
}


h1 {
    font-size: 48px;
    color: rgba(255,233,155,1);
    margin-top: 5px;
    margin-bottom: 0;
    line-height: 1;
}

.top-bar {
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: row;
    items-align: center;
    justify-content: flex-start;
}

.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding: 0 16px;
}   

#b1 {
    font-size: 25px;
    color: white;
    border: 2px solid white;
    background-color: rgba(189,26,26,1);
    cursor: pointer;
    position: absolute;
    bottom: 20px;
}

.in {
    text-decoration: none;
    margin-left: 20px;
    margin-top: auto;
    margin-bottom: auto;
}

#logo {
    display: block;
    width: 130px;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
}

#b1:hover {
    background-color: rgba(255,0,0,0.4);
    color: blue;
    border: none;
}

.in:hover {
    color: red;
    text-decoration: underline;
}

    

















    
    
